/* 
  Stylesheet for web site: artistsilove
  Author: Mr. Paul Ramnora
  Email: paulramnoracoder@yahoo.com
  URL: https://artistsilove.netlify.com
  Copyright: (c)2024-, Mr. Paul Ramnora. All rights reserved.
  ----------------------------------------
  Created: Wed 28 August 2024 15:20 PM GMT
  Updated: Thu 29 August 2024 19:26 PM GMT
*/

/* links */

a:link{color:blue;text-decoration:none;}
a:hover{color:red;text-decoration:underline;}
a:active{color:orange;}
a:visited{color:purple;}

html{
  margin:1cm;
  background-color:black;
}

body{
 padding:1cm;
 background-color:white;
 color:black; 
 font-family:arial,verdana,sans-serif; 
 border-radius:10px; 
}

header,footer{
 text-align:center;
}

header{
 padding:50px; 
 width:50%;
 margin:auto;
 border: 10px solid silver; 
 background-color:black;
 color:white;
 border-radius:10px; 
}  

footer{
 padding:10px; 
 width:50%;
 margin:auto; 
 background-color:silver;
 color:white;
 border-radius:10px; 
}  

/* ID's */

#idCopyrightMessage{
 background-color:black;
 color:white; 
 border-radius:10px; 
}

/* Classes */

.clsPara{
 text-indent:1cm;
} 

.clsTimeDateStamp{
 color:red;
 font-style:italic; 
}
